h2,h1{
		font-size:35px;
		color:#28C833;
		text-align:center;
		font-family:"Arial";
	}
.main{
		background:url(back2.jpg),url(back3.jpg);
		background-repeat:no-repeat,repeat-x;
		background-position:center;
		background-size:contain;
		font-family: 'Caveat';
		font-size: 14px;
	}
.futer a{
	color:#800000;
	font-size:2.5em;
	display:block;
}
.ultra {
	font-size:2.5em;
}
.ultra ul li {
	color:#37CA28;
}
.ultra span {
	color:black;
}
.Bull {
	background:#9dd53a;
    background:-webkit-linear-gradient(#9dd53a 0%, #a1d54f 25%, #a1d54f 72%, #80c217 100%);
    background:-o-linear-gradient(#9dd53a 0%, #a1d54f 25%, #a1d54f 72%, #80c217 100%);
    background:linear-gradient(#9dd53a 0%, #a1d54f 25%, #a1d54f 72%, #80c217 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dd53a', endColorstr='#80c217',GradientType=0);
	padding:5px;
	display:block;
	width:18%;
	margin:0 2%;
	border-radius:10px;
	opacity:0.9;
	text-align:center;
}
.Bull:hover {
	opacity:1;
	border:1px solid blue;
	transition-duration:0.5s;
	cursor: pointer;
}
.futer {
	text-align:left;
	margin:4% 1%;
}
.Bull p {
	background-image:url(klever.png);
	font-size:1.2em;
	text-align:center;
	width:92%;
	background-position: left center;
	background-size:15%;
	background-repeat:no-repeat;
	margin:5%;
	padding-left:12%;
}
.ultra a {
	font-size:1em;
	color:black;
	text-decoration:none;
}
.ultra a:hover{
	text-decoration:underline;
}
.info {
	font-size:2em;
	text-align:justify;
}